.scoreboard{
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

#pkthuman{
	transition: font-size 2s;
}

#pkthuman:hover{
	font-size: 24px;
}

#pktcomputer{
	transition: font-size 2s;
}

#pktcomputer:hover{
	font-size: 24px;
}